// buttons

.btn {
    display: block;
  
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover{
        background-color: darken($primary-color ,10);
        color: set-ext-color($secondary-color);
    
    }
}

.btn-dark {
    @extend .btn;
    // background: darken($primary-color ,50);
    background: $secondary-color;
    color: white;
}
.btn-light {
    @extend .btn;
    // background: darken($primary-color ,50);
    background: $secondary-color;
    color: white;
}

